@import url("./secondary.css");

/*this is just a test comment which is automatically removed on production build*/

body.index-body {
    background: #0074D9;
}

div {
    display: flex;
}

.class-to-be-purged {
    display: flex;
}
