@import url("./secondary.css");

/*this is just a test comment which is automatically removed on production build*/

body.index-body {
    background: #7FDBFF;
}

div {
    display: flex;
}

p#hidden-text {
    display: none;
}

.class-to-be-purged {
    display: flex;
}
